ul{
  width: 96%;
  margin-left: 2%;
}

li {
  list-style-type: none;
}

span {
  display: flex;
  justify-content: center;
  padding: 5px 0 7px 0;
  color: white;
}

.editing {
  border-color: chocolate;
}
