#form {
  width: 88vw;
  height: 25vh;
  /*background-color: #a9afbb;*/
  border-radius: 4px;
}
#mask {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 40000000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(6, 6, 6, 0.7);
}

input {
  width: 90%;
}
.input-group {
  width: 90%;
  margin-left: 5%;
}
button {
  margin-left: 3%;
  margin-right: 3%;
}

h3 {
  color: white;
  margin-left: 5%;
}

@media (orientation: landscape) {
  #mask {
    top: -45px;
  }
  #form {
    height: 45%;
    margin-top: 0;
  }
}
