.input-group {
  width: 96%;
  margin-left: 2%;
  margin-bottom: 7px;
  margin-top: 2px;
}

.reverser {
  width: 35%;
  margin-bottom: 3px;
}

.active-mode img {
  width: 80%;
}
.active-mode {
  color: rgba(0, 0, 0, 0.7);
  margin-top: 16%;
}


@media (orientation: landscape) {
  .active-mode {
    width: 35%;
    margin-top: 3%;
    margin: auto;
  }
}
