<div *ngIf="chooseMode" class="d-flex flex-column text-center align-items-center active-mode">
  <h3>Choose team</h3>
  <img src="assets/team.svg" alt="team">
</div>

<div *ngIf="createTeamMode" class="d-flex flex-column text-center align-items-center active-mode">
  <h3>Create team</h3>
  <img src="assets/createTeam.svg" alt="createTeam">
</div>

<div class="" *ngIf="!chooseMode && !createTeamMode">

  <button  class="btn btn-dark border-0 reverser" style="margin-left: 13%; margin-right: 2%"
          (click)="changePoints()">{{(isMine) ? 'Team Points' : 'My Points'}}</button>
  <a class="btn btn-dark border-0 reverser"
     [href]="'dashboard/'+ teamKey +'/retro'">Retro</a>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="point-title">
        Title
      </span>
    </div>
    <input class="form-control" type="text" aria-label="Title" aria-describedby="point-title" [(ngModel)]="titleInput">
    <button *ngIf="editPointMode"
            (click)="editPoint()">Save</button>
  </div>

  <app-points-list
    type="plus"
    [points]="points.plus"
    (add)=addPoint($event)
    (edit)="switchEditMode($event)"
    [(pointToEdit)]="pointToEdit"></app-points-list>
  <app-points-list
    type="minus"
    [points]="points.minus"
    (add)=addPoint($event)
    (edit)="switchEditMode($event)"
    [(pointToEdit)]="pointToEdit"></app-points-list>
</div>
