<div class="">

  <button  class="btn btn-dark border-0 reverser" style="margin-left: 13%; margin-right: 2%"
          (click)="changePoints()">{{(isMine) ? 'Team Points' : 'My Points'}}</button>
  <a class="btn btn-dark border-0 reverser"
     [href]="'dashboard/'+ teamKey +'/retro'">Retro</a>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="point-title">
        Title
      </span>
    </div>
    <input class="form-control" type="text" aria-label="Title" aria-describedby="point-title" [(ngModel)]="titleInput">
  </div>

  <div *ngIf="chooseMode">
    <img src="team.svg" alt="team">
  </div>
  <app-points-list *ngIf="!chooseMode"
    type="plus"
    [points]="pointsPlus"
    (add)=addPoint($event)></app-points-list>
  <app-points-list
    *ngIf="!chooseMode"
    type="minus"
    [points]="pointsMinus"
    (add)=addPoint($event)></app-points-list>
</div>
