<div *ngIf="!currentTeam && chooseMode && !createTeamMode" class="d-flex flex-column justify-content-center align-items-center active-mode">
  <h3>Choose team</h3>
  <img src="assets/team.svg" alt="team">
</div>

<div *ngIf="createTeamMode" class="d-flex flex-column justify-content-center align-items-center active-mode">
  <h3>You have no teams</h3>
  <img src="assets/createTeam.svg" alt="createTeam">
</div>

<div *ngIf="currentTeam">

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">
        Title
      </span>
    </div>
    <input (keyup.enter)="pointHandler(pointType)"
           class="form-control" type="text"
           aria-label="Title"
           aria-describedby="point-title"
           [(ngModel)]="titleInput"
            autofocus>
    <div class="input-group-prepend">
    <span class="input-group-text inputButton" (click)=" pointHandler('plus')"
          [style.opacity]="pointType === 'plus' ? '1': '0.5'"
    >
        Plus
      </span>
      <span class="input-group-text inputButton" (click)="pointHandler('minus')"
            [style.opacity]="pointType === 'minus' ? '1': '0.5'">
        Minus
      </span>

    </div>

  </div>
  <div class="points-wrapper">
    <app-points-list
      type="plus"
      [points]="points.plus"
     ></app-points-list>
    <app-points-list
      type="minus"
      [points]="points.minus"
      ></app-points-list>

  </div>

</div>
