.input-group {
  width: 96%;
  margin-left: 2%;
  margin-bottom: 7px;
  margin-top: 2px;
}

.reverser {
  width: 35%;
  margin-bottom: 3px;
}

.active-mode img {
  width: 80%;
}
.active-mode {
  color: rgba(0, 0, 0, 0.7);
  margin-top: 16%;
}
.active-mode h3 {
  margin-bottom: 20px;
}

.input-group-text{
  cursor: pointer;

}

.points-wrapper {
  display: block;
}

@media(orientation: landscape), (min-width: 768px){
  .points-wrapper{
    display: flex;
  }

  .points-wrapper app-points-list{
    width: 50%;
  }

  .active-mode {
    width: 35%;
    margin: auto;
  }

  app-points-list {

  }
}
