<li class="list-group-item">
  <form class="form-inline flex-row">
    <input type="text" class="form-control" style="width: 70%" id="inputPointTitle"  [value]="pointTitle" #newTitleInput >

    <div>
      <button type="button"
              (click)="cancelForm(true)"
              style="background-image: url('../../../assets/previous.svg')"></button>
      <button type="submit"
              (click)="changePoint(newTitleInput.value)"
              class="mr-2"
              style="background-image: url('../../../assets/edit.svg')"></button>
    </div>
  </form>
</li>
