<li class="mt-2">
  <form class="form-inline flex-row">
    <input type="text" class="form-control" id="inputPointTitle"  [value]="pointTitle" #newTitleInput >

    <div class="float-right">
      <button type="submit"
              class="mb-2 mr-1"
              (click)="changePoint(newTitleInput.value)"
              style="background-image: url('../../../assets/edit.svg')"></button>
      <button type="button"
              class="mb-2 ml-1"
              (click)="cancelForm(true)"
              style="background-image: url('../../../assets/previous.svg')"></button>
    </div>
  </form>
</li>
