<div class="container">
  <button class="btn btn-dark" (click)="finishRetro('heello')">Finish retro</button>
  <a class="btn btn-dark" routerLink="/dashboard/{{teamKey}}/retro-history">Retros history</a>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="point-title">
        Title
      </span>
    </div>
    <input class="form-control"
           type="text"
           aria-label="Title"
           aria-describedby="point-title"
           [(ngModel)]="titleInput">
    <button class="btn btn-dark" (click)="addActionPoint()">Add</button>
  </div>

  <app-action-points-list title="Action Points" [actionPoints]="actionPoints"></app-action-points-list>
  <app-points-list title="Minuses" [noButton]="true" [points]="points.minus" type="minus"></app-points-list>
  <app-points-list title="Pluses" [noButton]="true" [points]="points.plus" type="plus"></app-points-list>
</div>
