button {
  width: 100%;
  margin-top: 0.05em;
}
.btn-group-verticals {
  width: 98%;
  margin-left: 1%;
}

.dropdown-menu {
  width: 98%;
  background-color: rgba(242, 242, 242, 80);
}
.dropdown-item {
  background-color: rgb(242, 242, 242);
}

@media (orientation: landscape) {
  .count div {
    height: 70px;
  }
}
