<div class="mb-3 dropdown count">
  <div class="btn-group-vertical">
    <button type="button"
            class="btn
                btn-dark rounded-0
                border-bottom border-white
                dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">{{ this.currentTeam.title}} </button>
    <div class="dropdown-menu">
      <a class="dropdown-item border-top border-white"
         *ngFor="let team of teams"
         (click)="changeTeam(team)">{{team.title}}</a>
    </div>
    <button type="button"
            class="btn btn-dark
            rounded-0 border-bottom
            border-white"
            (click)="isCreatingMode = !isCreatingMode">CREATE NEW</button>
  </div>
  <app-new-team *ngIf="isCreatingMode"
                (changeMode)="isCreatingMode = !isCreatingMode"
                (teamCreated)="addTeam($event)"></app-new-team>
</div>
