<div class="container" *ngIf="currentTeam">
    <h2>{{ currentTeam.title }}
      <button (click)="isRenamingMode = !isRenamingMode"
               style="background-image: url('../../../assets/editTeam.svg')"
      class="editor">
      </button>
    </h2>

    <div class="switchContainer">
      <button (click)="switchPoints('my')"
            style="background-image: url('../../../assets/man.svg')"
            class="{{(currentActive === 'my') ? 'chosen' : 'not-chosen'}} switcher">
      </button>

      <button (click)="switchPoints('all')"
            style="background-image: url('../../../assets/Team.svg')"
            class="{{(currentActive === 'all') ? 'chosen' : 'not-chosen'}} switcher">
      </button>
    </div>

    <button class="retro {{(currentActive === 'retro') ? 'chosen' : 'not-chosen'}}"
            (click)="goToRetro()">
    </button>
</div>
<app-new-team *ngIf="isRenamingMode"
              (changeMode)="isRenamingMode = !isRenamingMode"
              (newTeamTitle)="renameTeam($event)"
              title="Rename">
</app-new-team>
