.bg-dark {
  background: #224e7a !important;
  background: -moz-linear-gradient(left, #224e7a 2%, #4c75aa 100%) !important;
  background: -webkit-linear-gradient(left, #224e7a 2%,#4c75aa 100%) !important;
  background: linear-gradient(to right, #224e7a 2%,#4c75aa 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#224e7a', endColorstr='#4c75aa',GradientType=1 ) !important;
}

span {
  display: flex;
  justify-content: center;
  padding: 0.1em 0 0.3em 0;
  color: white;
  font-size: small;
}
ul{
   width: 96%;
   margin-left: 2%;
 }

