<header class="navbar navbar-dark bg-dark header-bar">

  <div  class="container-fluid row">
    <div class="left-bar" *ngIf="authorized">
      <div class="btn-group">
        <button
          class="round-btn teams-btn dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">Teams
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item team-item"
             *ngFor="let team of teams"
             (click)="changeTeam(team)">{{team.title}}
            <button class="disc-btn" (click)="deleteTeam(team); $event.stopPropagation();"></button>
          </a>
        </div>
      </div>
    </div>


    <a class="navbar-brand" style="color: white" routerLink="" style="font-family: 'Jua', sans-serif; font-size: large">RetroSpectator</a>

    <div class="btn-group right-bar">
      <div *ngIf="!authorized">
        <button id="qsLoginBtn"
                class="btn btn-primary btn-sm"
                (click)="auth.login()" type="button">
          Log In
        </button>
      </div>

      <div *ngIf="authorized" class="d-flex">


        <div class="btn-group dropleft">
          <button class="round-btn add-btn"
                  title="Create lobby"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"></button>
          <div class="dropdown-menu">
            <button
              class="dropdown-item"
              (click)="isCreatingMode = !isCreatingMode">Create new</button>
            <button
              class="dropdown-item"
              (click)="isJoinMode = !isJoinMode">Join to existing team</button>
          </div>
        </div>




        <button id="qsLogoutBtn"
                class="round-btn user-btn"
                (click)="auth.logout()"
                (mouseenter)="authButtonHovered=true"
                (mouseleave)="authButtonHovered=false"
                [ngStyle]="authButtonHovered?{}:{'background-image': user?'url(' + user.picUrl + ') ': 'white'}">
        </button>

      </div>

    </div>
  </div>
</header>
<app-new-team *ngIf="isCreatingMode"
              (changeMode)="isCreatingMode = !isCreatingMode"
              (newTeamTitle)="addTeam($event)"
              title="Create"></app-new-team>
<app-new-team *ngIf="isJoinMode"
              (changeMode)="isJoinMode = !isJoinMode"
              (newTeamTitle)="joinTeam($event)"
              title="Join"></app-new-team>
