.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  font-size: 1rem;
}

.right-bar {
  position: absolute;
  right: 1em;
  top: 0.5em;
  height: 2em;
}

.left-bar {
  position: absolute;
  left: 1em;
  top: 0.5em;
  height: 2em;
}

.header-bar {
  height: 3em;
}

.user-btn {
  border: 2px solid white;
  cursor: pointer;
  box-sizing: border-box;
  background-size: 1.8em 1.8em;
}

.user-btn:hover {
  background: url("../../assets/logout.svg") no-repeat center;
  background-size: 1.6em 1.6em;
  border: 0;
}

.round-btn {
  border-radius: 15%;
  height: 2em;
  width: 2em;
  background-color: transparent;
}

.add-btn {
  background: url("../../assets/add.svg") no-repeat center;
  background-size: 1.4em 1.4em;
  border: 1px solid white;
  margin-right: 0.4em;
}

.teams-btn {
  border: 1px solid white;
  height: 2em;
  width: auto;
  color: white;
  border-radius: 10%;
}

.team-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 1em;
  width: 100%;
}

.team-item:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.team-item button {
  opacity: 0;
  margin-left: 0.7em;
  float: right;
}

.team-item:hover button {
  opacity: 1;
}

.disc-btn {
  background: url("../../assets/disconnect.svg") no-repeat center;
  margin: auto 0;
  width: 1em;
  height: 1em;
  border: 0;
}

header {
  box-shadow: 2px 2px 15px 4px rgba(110, 110, 110, 0.62);

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#08407c+1,276393+64,4589c1+100 */
  background: #08407c; /* Old browsers */
  background: -moz-linear-gradient(left, #08407c 1%, #276393 64%, #4589c1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #08407c 1%,#276393 64%,#4589c1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #08407c 1%,#276393 64%,#4589c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08407c', endColorstr='#4589c1',GradientType=1 ); /* IE6-9 */


}
