li {
  list-style-type: none;
  padding-left: 0;
}

li:hover #userInfo {
  visibility: visible;
}
span {
  display: flex;
  justify-content: center;
}
button {
  width: 25px;
  height: 25px;
  background-color: white;
  border: none;
  background-image: url("../../../../assets/edit.svg");
}

#userInfo {
  display: inline-block;
  margin-left: 5px;
  visibility: hidden;
}
#userInfo img {
  width: 1.5em;
  border-radius: 50%;
  height: 1.5em;
}

.list-group-item:first-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
